@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Poppins", ui-serif, Georgia, serif;
  
  --color-brand-primary: #D4A373;
  --color-brand-secondary: #FAEDCD;
  --color-brand-dark: #2D2A26;
  --color-brand-light: #FDFBF7;
}
